@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    cursor: pointer;
}

.c-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.c-art {
    width: 100%;
    height: 100%;
    background-image: url('../img/png/art.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.c-login {
    width: 50%;
    margin: 0 auto;
}

.c-title {
    margin-bottom: 64px;
    font-size: 32px;
    color: #090724;
    font-weight: 300;
    margin-left: 8px;
}

.c-form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.c-input {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.c-input>label {
    margin-left: 8px;
}

.c-input__field {
    background-color: white;
    border-radius: 10px;
    line-height: 16px;
    height: 48px;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.1);
    border: none;
    padding-left: 16px;
}

.c-button--login {
    margin-top: 16px;
    height: 56px;
    background: linear-gradient(to bottom left, #00C0F9, #269ACB);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.c-button--microsoft {
    height: 41px;
    background-color: white;
    border: 1px solid #8C8C8C;
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #5e5e5e;
    column-gap: 12px;
    margin: 24px auto;
}

.c-button--microsoft::before {
    content: url('../img/svg/microsoft-logo.svg');
}

.c-button--microsoft:hover {
    background-color: #2f2f2f;
    color: white;
}

.c-button--login:hover {
    background: #00C0F9;
}

.c-logo {
    position: fixed;
    left: 24px;
    bottom: 24px;
}

.c-logo__image {
    width: calc(100% / 5);
}