@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
:root {
    --global-color-light: #ffffff;
    --global-color-x-light: #e5e5e5;
    --global-color-xx-light: #707070;
    --global-color-dark: #1C1C1D;
    --global-color-x-dark: #181b22;
    --global-color-xx-dark: #151618;
    --global-color-blue-howest: #44c8f5;
    --global-color-blue-howest-opacity: #44c8f533;
    --global-color-dark-blue: #124257;
    --global-color-alert: #ee4949;
    --global-color-gradient: linear-gradient(to bottom left, #18b6e6, #269acb);
    --global-color-background: var(--global-color-light);
    --global-color-accent: var(--global-color-x-dark);
    --global-color-scroll: var(--global-color-x-light);
    --global-color-scroll-thumb: var(--global-color-light);
}


/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.6666667em;
    /* = 25px */
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background-color: var(--global-color-selection-bg);
    color: var(--global-color-selection-color);
    text-shadow: none;
}

::selection {
    background-color: var(--global-color-accent);
    color: var(--global-color-background);
    text-shadow: none;
}

::-webkit-scrollbar {
    background-color: var(--global-color-scroll);
    border-radius: 45px;
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--global-color-scroll-thumb);
    border-radius: 45px;
    border: 4px solid var(--global-color-scroll);
}


/*------------------------------------*\
#Elements
\*------------------------------------*/


/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}


/*
Elements: typography
---
Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    /* font-size: 36px; */
    font-size: 2.4rem;
    line-height: calc(var(--global-baseline) * 10);
    margin: 0 0 var(--global-whitespace-md);
}

h2 {
    /* font-size: 28px; */
    /* font-size: 1.8666666667rem; */
    font-size: calc(28rem / var(--global-root-font-size));
    font-weight: normal;
    line-height: calc(var(--global-baseline) * 8);
    margin: 0 0 var(--global-whitespace-lg);
}

h3 {
    /* font-size: 18px; */
    font-size: 1.2rem;
    line-height: calc(var(--global-baseline) * 6);
    margin: 0 0 var(--global-whitespace-md);
}

h4,
h5,
h6 {
    /* font-size: 15px; */
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(var(--global-baseline) * 5);
    margin: 0 0 var(--global-whitespace-md);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace-md);
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: calc(var(--global-baseline) * 5);
    margin: 0 0 var(--global-whitespace-md);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 var(--global-whitespace-md);
}

a {
    transition: all var(--global-transition-alpha);
    color: var(--global-color-beta);
    outline-color: var(--global-color-beta);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--global-color-beta);
}

a:hover,
a:focus {
    color: var(--global-color-alpha);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--global-color-background);
}


/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: var(--global-whitespace-lg) var(--global-whitespace-lg) var(--global-baseline);
}


/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 78em;
    /* 78 * 15px = 1170 */
    width: 100%;
}


/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}


/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    cursor: pointer;
}


/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/


/* Grids */

.c-grid--login {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.c-grid--dashboard {
    display: grid;
    height: 100%;
    grid-template-columns: 104px auto 512px;
}

.c-art {
    width: 100%;
    height: 100%;
    background-image: url("../img/png/art.png");
    /* filter: hue-rotate(60deg) brightness(0.7); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.c-login {
    width: 50%;
    margin: 0 auto;
}

.c-title {
    margin-bottom: 16px;
    font-size: 32px;
    color: var(--global-color-accent);
    font-weight: 300;
    margin-left: 8px;
}

.c-form {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.c-input {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.c-input--search {
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0;
    align-items: center;
}

.c-input>label {
    margin-left: 8px;
}

.c-input__field {
    --local-color-border: var(--global-color-xx-light);
    background: none;
    border-radius: 10px;
    border: 1px solid var(--local-color-border);
    line-height: 16px;
    height: 48px;
    padding-left: 16px;
}

.c-input__field:hover {
    --local-color-border: var(--global-color-blue-howest);
    box-shadow: 0 0 0 3px var(--global-color-blue-howest-opacity);
}

.c-input__field:focus,
.c-input__field:active {
    outline: none;
    --local-color-border: var(--global-color-blue-howest);
}

.c-input--search .c-input__field {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    border-radius: 10px 0 0 10px;
}

.c-button {
    --local-color-background: var(--global-color-gradient);
    background: var(--local-color-background);
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.c-button--search {
    height: 3rem;
    width: 3rem;
}

.c-search__icon {
    fill: var(--global-color-accent);
}

.c-button--login {
    margin-top: 1rem;
    height: 3.5rem;
}

.c-button--microsoft {
    --local-color-border: #8c8c8c;
    --local-color-background: white;
    height: 41px;
    background-color: var(--local-color-background);
    border: 1px solid var(--local-color-border);
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #5e5e5e;
    column-gap: 12px;
    margin: 24px auto;
}

.c-button--microsoft::before {
    content: url("../img/svg/microsoft-logo.svg");
}

.c-button--microsoft:hover {
    --local-color-background: #2f2f2f;
    color: white;
}

.c-button--login:hover {
    --local-color-background: var(--global-color-blue-howest);
}

.c-button--login:active,
.c-button--login:focus {
    outline: none;
    --local-color-background: var(--global-color-blue-howest);
    box-shadow: 0 0 0 3px var(--global-color-blue-howest-opacity);
}

.c-logo {
    position: fixed;
    left: 24px;
    bottom: 24px;
    width: calc(100% / (5 * 2));
}

.c-logo__image {
    width: 100%;
}


/*
    Component: App
    ---
    Global app component
*/

.c-app {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.c-app__sidebar {
    position: fixed;
    z-index: 1000;
}

.c-app__main {
    max-height: 100vh;
    margin-left: 4rem;
    display: grid;
    padding: 1rem;
    grid-template-columns: auto min-content;
    grid-template-rows: 100%;
    gap: 2rem;
}

.c-app__main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.c-app__section {
    max-height: inherit;
}

.c-app__section-content {
    max-height: inherit;
    display: flex;
    flex-wrap: wrap;
    padding-right: 2rem;
}


/*
Component: Popup
---
Global
*/

.c-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.325);
}

.c-popup .c-card {
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
}


/*
Component: Main Navigation
---
Main navigation component
*/

.c-main-nav {
    height: 100vh;
    width: 4rem;
    padding: 16px 0;
    display: grid;
    align-items: end;
    justify-items: center;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 100%;
    transition: width .1s ease-out;
    background-color: var(--global-color-dark);
}

.c-main-nav:hover {
    width: 12rem;
}

.c-main-nav:hover .c-main-nav__text {
    display: inline;
}

.c-main-nav:hover .c-main-nav__item {
    justify-content: flex-start;
    padding-left: 1rem;
}

.c-main-nav__list {
    width: 100%;
}

.c-main-nav__item {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.c-main-nav__item+.c-main-nav__item {
    margin-top: 32px;
}

.c-main-nav__item--current {
    background-color: white;
    color: var(--global-color-dark);
    padding: 8px 0;
}

.c-main-nav__item:hover:not(.c-main-nav__item--current) {
    background-color: rgba(0, 0, 0, 0.5);
}

.c-main-nav__item--current .c-main-nav__text {
    color: var(--global-color-dark);
}

.c-main-nav__item--current .c-main-nav__icon {
    fill: var(--global-color-dark);
}

.c-main-nav__link {
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 16px;
}

.c-main-nav__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--global-color-blue-howest);
}

.c-main-nav__icon--logout {
    fill: var(--global-color-alert);
}

.c-main-nav__text {
    display: none;
    color: var(--global-color-blue-howest);
    font-size: 16px;
    font-weight: 400;
}

.c-card {
    --local-border-radius: 10px;
    --local-color-accent: var(--global-color-dark-blue);
    --local-color-main: var(--global-color-background);
    --local-color-text: var(--global-color-accent);
    background-color: var(--local-color-main);
    height: min-content;
    color: var(--local-color-text);
    border-radius: var(--local-border-radius);
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    min-width: min-content;
    margin: 1rem 0.5rem;
}

.c-card__title {
    padding: 0.5rem 1rem;
    background-color: var(--local-color-accent);
    color: var(--global-color-light);
    border-radius: var(--local-border-radius) var(--local-border-radius) 0 0;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.c-card__title--alert::after {
    content: url("../img/svg/error.svg");
    /* margin-top: 8px; */
    padding: 4px 4px;
    background-color: var(--global-color-light);
    border-radius: 15px;
}

.c-card--alert {
    cursor: pointer;
}

.c-card__content {
    list-style: none;
    padding: 1rem 1rem;
}

.c-floor+.c-floor {
    margin-top: 1rem;
}

.c-floor__btn {
    --local-color-text: var(--global-color-x-dark);
    background-color: var(--local-color-main);
    color: var(--local-color-text);
    border: 1px solid var(--local-color-accent);
    padding: 0.5rem 1rem;
    border-radius: calc(var(--local-border-radius) * 4.5);
    min-width: 10rem;
    width: 100%;
    text-align: left;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-floor__icon {
    fill: var(--local-color-text);
}

.c-floor__btn:hover {
    --local-color-main: var(--global-color-dark-blue);
    --local-color-text: var(--global-color-x-light);
}

.c-floor__btn-text {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.c-floor-map {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid var(--global-color-xx-light);
    border-radius: 10px;
    overflow: none;
}

.c-floor-map__canvas {
    width: 100%;
    background-color: white;
}

.has-alert .c-floor__btn-text::after {
    content: url("../img/svg/error.svg");
    margin-left: 2.5rem;
}

.c-measurements__item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 20rem;
}

.c-measurements__item+.c-measurements__item {
    margin-top: 0.5rem;
}

@media(max-width: 1024px) {
    .c-login {
        width: 80%;
    }
    .c-app__main {
        grid-template-rows: min-content 1fr;
        grid-template-columns: 100%;
    }
    .c-app__section-content {
        width: 100%;
    }
    .c-app__main-section--overview {
        grid-row: 2;
    }
    .c-app__main-section--alerts {
        grid-row: 1;
    }
    .c-app__main-section--alerts .c-app__section-content {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-left: 0;
    }
    .c-app__main-section--overview .c-app__section-content {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .c-logo {
        top: 24px;
        filter: grayscale(1) brightness(255);
        width: calc(100% / 5);
    }
    .c-grid--login {
        grid-template-columns: auto;
        grid-template-rows: 1fr 3fr;
    }
    .c-login {
        grid-row: 2;
    }
    .c-art {
        grid-row: 1;
    }
}

@media (max-width: 425px) {
    .c-login {
        width: 90%;
    }
    .c-logo {
        width: calc(100% / 5 * 2);
    }
    .c-grid--login {
        grid-template-rows: 1fr 6fr;
    }
    .c-app__sidebar {
        width: 100vw;
        height: 4rem;
        bottom: 0;
    }
    .c-main-nav {
        width: 100vw;
        height: 100%;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100%;
    }
    .c-main-nav:hover {
        width: 100%;
        height: 100%;
    }
    .c-main-nav:hover .c-main-nav__text {
        display: none;
    }
    .c-main-nav:hover .c-main-nav__item {
        justify-content: center;
        padding: 0;
    }
    .c-main-nav__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .c-main-nav__item+.c-main-nav__item {
        margin: 0;
    }
    .c-app__main {
        margin-left: 0;
    }
    .c-measurements__item {
        min-width: 12rem;
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        --global-color-background: var(--global-color-x-dark);
        --global-color-accent: var(--global-color-light);
        --global-color-scroll: var(--global-color-xx-dark);
        --global-color-scroll-thumb: var(--global-color-dark-blue);
    }
    .c-title {
        color: white;
    }
    .c-input>label {
        color: var(--global-color-x-light);
    }
    .c-input__field {
        color: white;
    }
    .c-input__field:active,
    .c-input__field:focus {
        --local-color-border: var(--global-color-blue-howest);
        box-shadow: 0 0 1px 1px var(--global-color-blue-howest);
    }
    .c-input__field:hover {
        box-shadow: 0 0 0 1px var(--global-color-blue-howest);
    }
    .c-button--microsoft {
        --local-color-background: #2f2f2f;
        --local-color-border: black;
        color: white;
    }
    .c-button--microsoft:hover {
        --local-color-background: white;
        --local-color-border: #8c8c8c;
        color: #5e5e5e;
    }
    .c-floor__btn {
        --local-color-text: var(--global-color-x-light);
    }
    .c-card {
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    }
}

.u-max-width--md {
    max-width: 13rem;
}

.u-max-width--lg {
    max-width: 20rem;
}

.u-overflow-auto {
    overflow: auto;
    overflow-x: hidden;
}